@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-primary;
  }

  :root {
    /* common variables for all themes */
    --color-white: 0 0% 100%;
    --color-black: 0 0% 0%;
    --radius: 8px;

    /* greys - light variant */
    --color-grey-100: 0 0% 75%;
    --color-grey-90: 0 0% 76%;
    --color-grey-80: 0 0% 78%;
    --color-grey-70: 0 0% 80%;
    --color-grey-60: 0 0% 82%;
    --color-grey-50: 0 0% 84%;
    --color-grey-40: 0 0% 86%;
    --color-grey-30: 0 0% 88%;
    --color-grey-20: 0 0% 90%;
    --color-grey-10: 0 0% 92%;

    --color-background: var(--color-grey-10);
    --color-primary: 0 0% 0% / 1;
    --color-secondary: 0 0% 0% / 0.56;
    --color-disabled: 0 0% 0% / 0.32;
    --color-primary-button: var(--color-grey-60);
    --color-secondary-button: var(--color-grey-60);
    --color-disabled-button: var(--color-grey-60);
    --color-muted: 0 0% 96.1%;
    --color-muted-foreground: 0 0% 45.1%;
    --color-border: var(--color-grey-60);
    --color-input: var(--color-primary);
    --color-input-background: var(--color-grey-20);
  }

  .dark {
    /* greys - dark variant */
    --color-grey-100: 0 0% 8%;
    --color-grey-90: 0 0% 10%;
    --color-grey-80: 0 0% 12%;
    --color-grey-70: 0 0% 14%;
    --color-grey-60: 0 0% 16%;
    --color-grey-50: 0 0% 18%;
    --color-grey-40: 0 0% 20%;
    --color-grey-30: 0 0% 22%;
    --color-grey-20: 0 0% 24%;
    --color-grey-10: 0 0% 25%;

    --color-background: var(--color-grey-100);
    --color-primary: 0 0% 100% / 1;
    --color-secondary: 0 0% 100% / 0.56;
    --color-disabled: 0 0% 100% / 0.32;
    --color-primary-button: var(--color-grey-60);
    --color-secondary-button: var(--color-grey-100);
    --color-disabled-button: var(--color-grey-60);
    --color-muted: 0 0% 14.9%;
    --color-muted-foreground: var(--color-grey-60);
    --color-border: var(--color-grey-60);
    --color-input: var(--color-primary);
    --color-input-background: var(--color-grey-80);
  }
}

@layer utilities {
  .debug {
    @apply outline outline-2 outline-[#dc143c];
  }

  .debug > * {
    @apply outline outline-2 outline-[#3cdc14];
  }

  .btn-grad {
    background:
      linear-gradient(to bottom, rgba(20, 20, 20, 0.7), rgba(50, 50, 50, 0.4)) padding-box,
      linear-gradient(to bottom, rgba(60, 60, 60, 1), rgba(60, 60, 60, 0.4)) border-box;
  }
}
