@import './loader.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  html,
  body,
  :root {
    @apply h-full w-full;
  }
  body {
    @apply bg-background text-primary;
  }

  :root {
    /* common variables for all themes */
    --color-white: 0 0% 100%;
    --color-black: 0 0% 0%;
    --radius: 8px;

    /* greys - light variant */
    --color-grey-100: 0 0% 75%;
    --color-grey-90: 0 0% 76%;
    --color-grey-80: 0 0% 78%;
    --color-grey-70: 0 0% 80%;
    --color-grey-60: 0 0% 82%;
    --color-grey-50: 0 0% 84%;
    --color-grey-40: 0 0% 86%;
    --color-grey-30: 0 0% 88%;
    --color-grey-20: 0 0% 90%;
    --color-grey-10: 0 0% 92%;

    --color-background: var(--color-grey-10);
    --color-primary: var(--color-black);
    --color-secondary: var(--color-black) / 0.56;
    --color-disabled: var(--color-black) / 0.32;
    --color-primary-button: var(--color-grey-60);
    --color-primary-button-hover: var(--color-grey-80);
    --color-primary-button-active: var(--color-grey-90);
    --color-secondary-button: var(--color-background);
    --color-secondary-button-hover: var(--color-grey-40);
    --color-secondary-button-active: var(--color-grey-60);
    --color-disabled-button: var(--color-grey-60);
    --color-muted: var(--color-grey-40);
    --color-muted-foreground: var(--color-grey-60);
    --color-border: var(--color-grey-60);
    --color-input: var(--color-primary);
    --color-input-background: var(--color-grey-20);
    --color-popover: var(--color-grey-20);
    --color-popover-button: transparent;
    --color-popover-button-hover: var(--color-grey-40);
    --color-popover-button-active: var(--color-grey-30);
  }

  .dark {
    /* greys - dark variant */
    --color-grey-100: 0 0% 8%;
    --color-grey-90: 0 0% 10%;
    --color-grey-80: 0 0% 12%;
    --color-grey-70: 0 0% 14%;
    --color-grey-60: 0 0% 16%;
    --color-grey-50: 0 0% 18%;
    --color-grey-40: 0 0% 20%;
    --color-grey-30: 0 0% 22%;
    --color-grey-20: 0 0% 24%;
    --color-grey-10: 0 0% 25%;

    --color-background: var(--color-grey-100);
    --color-primary: var(--color-white);
    --color-secondary: var(--color-white) / 0.56;
    --color-disabled: var(--color-white) / 0.32;
    --color-primary-button: var(--color-grey-60);
    --color-primary-button-hover: var(--color-grey-50);
    --color-primary-button-active: var(--color-grey-40);
    --color-secondary-button: var(--color-background);
    --color-secondary-button-hover: var(--color-grey-90);
    --color-secondary-button-active: var(--color-grey-80);
    --color-disabled-button: var(--color-grey-60);
    --color-muted: var(--color-grey-40);
    --color-muted-foreground: var(--color-grey-60);
    --color-border: var(--color-grey-60);
    --color-input: var(--color-primary);
    --color-input-background: var(--color-grey-80);
    --color-popover: var(--color-grey-80);
    --color-popover-button: transparent;
    --color-popover-button-hover: var(--color-grey-70);
    --color-popover-button-active: var(--color-grey-60);
  }

  .grid-child {
    @apply m-[0.5px] outline outline-1 outline-grey-60;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer utilities {
  .debug {
    @apply outline outline-2 outline-[#dc143c];
  }

  .debug > * {
    @apply outline outline-2 outline-[#3cdc14];
  }

  .debug-2 {
    @apply outline outline-2 outline-[#cad400];
  }

  .debug-2 > * {
    @apply outline outline-2 outline-[#bc5e00];
  }

  .btn-grad-light {
    background:
      linear-gradient(to bottom, hsla(0, 0%, 65%, 0.7), hsla(0, 0%, 86%, 0.4)) padding-box,
      linear-gradient(to bottom, hsla(0, 0%, 90%, 1), hsla(0, 0%, 90%, 0.4)) border-box;
  }

  .btn-grad {
    background:
      linear-gradient(to bottom, hsla(0, 0%, 8%, 0.7), hsla(0, 0%, 20%, 0.4)) padding-box,
      linear-gradient(to bottom, hsla(0, 0%, 24%, 1), hsla(0, 0%, 24%, 0.4)) border-box;
  }
}
